/*Grid View Desktop*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*
@media only screen and (max-width: 768px) {
    /* For mobile phones: *
    [class*="col-"] {
      width: 100%;
    }
  }

  */

  /*768 992 1200*/
@media (max-height: 400px) /*360*/ /*(max-width: 400px) and (orientation: landscape)*/{
  body .sidebar .photo {
    display: none;
  }
  body .sidebar h4 {
    display: none;
  }
  body .sidebar .icons {
    display: none;
  }
}
@media (max-width: 768px) {
  body {
    background-image: url(../img/tree-and-space-pexels.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  /*
  main .section-welcome {
    height: 450px;/*anchor more bug
  }*/
  nav div a:hover {
    color: lightseagreen;
  }
  label {
    display: flex;
    justify-content: center;
  }
  .sidebar {
    /*display: none;*/
    margin-left: -100%;
    transition: 0.5s;
  }
  #sidebar-button:checked ~ .sidebar {
    margin-left: 0%;
    transition: 0.5s;
    background-color: rgba(23, 107, 107, 1);
    z-index: 1;
  }
  .sidebar-anchors a:hover {
    color: lightseagreen;
  }
  /*
  .sidebar .container-sidebar .photo {
    height: 100px;
    width: 80%;
    margin: auto;
    margin-top: 10px;
  }
  .sidebar .container-sidebar .photo i {
    transform: scale(4);
  }*/
  .icons i:hover {
    color: lightseagreen;
  }
  main section.section-style {
    margin-left: 0px;
  }
  .section-what-i-do .paper .field {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .section-feedback-score .paper, .section-youtube .paper {
    min-width: auto;
  }
  .section-feedback-score .click i, .section-youtube .click i {
    transform: scale(2.5);
  }
  body footer div.footer {
    margin-left: 0px;
  }
}