/*All*/
* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url(../img/sky-pexels.jpg);
  background-size: contain;
  background-repeat: repeat-y;
}

/*MENU*/
#sidebar-button {
  display: none;
}
label {
  position: fixed;
  right: 10px;
  top: 50%;
  display: none;
  width: 10px;
  height: 15px;
  padding: 10px;
  border: solid white;
}
label:hover {
  cursor: pointer;
  background: rgba(0, 128, 128, 0.5);
}
label i {
  color: white;
  margin: auto;
}
@media (max-width: 768px) {
  label {
    position: fixed;
    display: block;
  }
  .sidebar {
    /*display: none;*/
    margin-left: -100%;
  }
  #sidebar-button:checked ~ .sidebar {
    margin-left: 0%;
  }
  main section.section-style {
    margin-left: 0px;
  }
  body footer div.footer {
    margin-left: 0px;
  }
}

/*--------------------Nav--------------------*/
nav {
  background-color: rgba(49, 82, 82, 0.9);
  display: flex;
}
nav h1 {
  background-color: white;
  width: 240px;
  padding: 15px;
  text-align: center;
  margin: auto;
  box-sizing: border-box;
}
nav div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
}
nav div a {
  text-decoration: none;
  color: white;
  padding: 20px;
  margin: auto;
}
nav i.astronaut {
  color: white;
  padding: 20px;
  margin: auto;
  transform: scale(3);
}
/*------------------------Sidebar------------------------*/
section.sidebar {
  position: fixed;
  color: white;
  text-align: center;
  background-color: rgba(19, 59, 59, 0.9);
  width: 200px;/*here*/
  /*width: 290px;*/
  top: 110px;
  left: 10px;
  bottom: 10px;
}
.container-sidebar {
  padding: 20px;
}
.sidebar-anchors a {
  color: white;
  display: block;
  text-decoration: none;
  padding: 2px;
}
.photo {
  margin-top: 20px;
  /*max-width: 150px;/**/
  height: 140px;
  border: 8px solid;
  display: flex;/*¿?¿?¿?¿?*/
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.photo i {
  transform: scale(7);
}
.icons i {
  padding: 8px;
  padding-top: 0px;
}
/*--------------------Main--------------------*/
/*main {
  border: solid red;
}*/
.section-style {
  margin-left: 210px;
  margin-top: 15px;
  margin-bottom: 40px;
  min-height: 490px;
  background-color: rgba(108, 109, 97, 0.5);
  border: solid rgba(108, 109, 97, 0.7);
  color: white;
  text-align: center;
  padding-bottom: 40px;
}
/*Title sections*/
[class*=section] h2 {
  color: orange;
}
/*sections mark¿?*/
.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 400px;
  box-sizing: border-box;
  flex-wrap: wrap;
  /*border: solid orange;*/
}
.paper {
  /*width: 35%;*/
  background-color: rgba(0, 128, 128, 0.5);
  border: solid rgba(0, 128, 128, 0.7);
  text-align: justify;
  padding: 25px;
  max-width: 350px;
  min-width: 240px;
  width: max-content;/*how*/
  margin: 20px;
  box-sizing: border-box;
}
/*----------First Section----------*/
.section-welcome h1 {
  font-size: 2.5rem;
}
.section-welcome h2 {
  margin-bottom: 200px;
}
.section-welcome a {
  margin-top: 100px;
  color: white;
  text-decoration: none;
  background-color: teal;
  padding: 15px;
  border-radius: 45%;
}
/*----------Second Section----------*/



/*---------Third Section----------*/
.field {
  display: flex;
  margin-bottom: 33%;
}
.service {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service i {
  transform: scale(1.5);
}
.field p {
  margin-left: 20px;
}
/*----------Fourth Section----------*/
.section-my-skills .container .paper p {
  margin-bottom: 70px;
}
.skill {
  margin-bottom: 30px;
}
.counter {
  display: flex;
  border-radius: 16px;
  border: solid gray;
  height: 5px;
}
.counter div:first-child {
  background-color: greenyellow;
}
.skill-level {
  display: flex;
  justify-content: space-between;
}
.skill-level h4 {
  margin: 0%;
}
.counter-1 div:first-child {
  width: 70%;
}
.counter-2 div:first-child {
  width: 40%;
}
.counter-3 div:first-child {
  width: 0%;
}
.counter-4 div:first-child {
  width: 5%;
}
.counter-5 div:first-child {
  width: 40%;
}
.counter-6 div:first-child {
  width: 5%;
}
.counter-7 div:first-child {
  width: 1%;
}
.counter-8 div:first-child {
  width: 40%;
}
/*----------Fifth Section----------*/
.section-resume .container .paper .container-academy {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.academy {
  background-color: teal;
  border: solid;
  margin: 5px;
  padding: 10px;
  border-radius: 8px;
}
.academy h4, .academy p {
  margin: 0%;
}
/*----------Sixth Section (my work and blog "organize")----------*/
.container-cards {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.card {
  background-color: rgb(23, 107, 107);
  padding: 15px;
  border: solid;
  border-radius: 8px;
  max-width: 250px;
  margin: auto;
  margin-top: 40px;
  box-sizing: border-box;
}
.card h4 {
  text-align: center;
}
/*----------Seventh Section----------*/
.recommend div {  
  border: solid;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(23, 134, 185);
}
.recommend div i {
  transform: scale(4);
}
/*----------Eighth Section----------*/
/*Same like my work section*/

/*----------Nineth Section----------*/
.message {
  width: 100%;
  height: 100px;
}
.contact {
  display: flex;
  margin-top: 30px;
  min-width: 200px;/*¿?*/
}
.contact div:first-child {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact div:first-child i {
  transform: scale(1.5);
}
.contact div h4, .contact div p {
  margin: 0%;
}
/*--------------------Footer--------------------*/
footer div.footer {
  text-align: center;
  color: white;
  margin-left: 210px;
  background-color: rgba(124, 124, 124, 0.5);
  border: solid rgba(124, 124, 124, 0.7);
  padding: 15px;
}