/*All*/
* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url(../img/sky-pexels.jpg);
  background-size: cover;
}



/*--------------------Navigation--------------------*/
nav {
  position: sticky;
  top: 0;
  background-color: rgba(49, 82, 82, 0.9);
  display: flex;
  align-items: center;
  z-index: 1;
}
nav h1 {
  background-color: white;
  width: 370px;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 17px;
  margin: auto;
}
nav div {
  justify-content: space-between;
  display: flex;
  width: 100%;
}
nav a {
  text-decoration: none;
  color: white;
  margin-left: 150px;
}
nav i.astronaut {
  color: white;
  margin-right: 150px;
  transform: scale(2.5);
}
/*------------------------Sidebar------------------------*/
section.sidebar {
  position: fixed;
  color: white;
  text-align: center;
  background-color: rgba(19, 59, 59, 0.9);
  /*max-width: 290px;*/
  width: 290px;
  top: 80px;
  bottom: 0;
}
.container-sidebar {
  width: 80%;
  margin: auto;
  padding: 10px;
}
.sidebar-anchors a {
  color: white;
  display: block;
  text-decoration: none;
  padding: 2px;
}
.photo {
  margin-top: 20px;
  height: 150px;
  border: 8px solid;
  display: flex;/*¿?¿?¿?¿?*/
  align-items: center;
  justify-content: center;
}
.photo i {
  transform: scale(8);
}
.icons i {
  padding: 6px;
  padding-top: 0px;
}
/*--------------------Main--------------------*/
.section-style {
  position: absolute;
  left: 300px;
  right: 10px;
  margin-top: 80px;
  background-color: rgba(108, 109, 97, 0.5);
  /*border: solid yellow;*/
  color: white;
  text-align: center;
}
/*Title sections*/
[class*=section] h2 {
  color: orange;
  margin-top: 50px;
}
/*sections mark¿?*/
.container {
  display: flex;
  justify-content: space-around;
  height: 70%;
  margin: 50px;
  /*border: solid orange;*/
}
.paper {
  width: 35%;
  background-color: rgba(0, 128, 128, 0.5);
  text-align: justify;
  padding: 40px;
  box-sizing: border-box;
}
/*------Positions of sections------*/
.section-welcome {
  top: 0%;
  bottom: 0px;
}
.section-know-me-more {
  top: 100%;
  bottom: -100%;
}
.section-what-i-do {
  top: 200%;
  bottom: -200%;
}
.section-my-skills {
  top: 300%;
  bottom: -300%;
}
.section-resume {
  top: 400%;
  bottom: -400%;
}
.section-my-work {
  top: 500%;
  bottom: -500%;
}
.section-client-speak {
  top: 600%;
  bottom: -600%;
}
.section-blog {
  top: 700%;
  bottom: -700%;
}
.section-get-in-touch {
  top: 800%;
  bottom: -800%;
}

/*----------First Section----------*/
.section-welcome h1 {
  font-size: 3rem;
  margin-top: 150px;
}
.section-welcome a {
  position: relative;
  color: white;
  text-decoration: none;
  background-color: teal;
  padding: 15px;
  border-radius: 40%;
  top: 20%;
}
/*----------Second Section----------*/



/*---------Third Section----------*/
.field {
  display: flex;
  margin-bottom: 33%;
}
.service {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service i {
  transform: scale(1.5);
}
.field p {
  margin-left: 20px;
}
/*----------Fourth Section----------*/
.section-my-skills .container .paper p {
  margin-bottom: 70px;
}
.skill {
  margin-bottom: 30px;
}
.counter {
  display: flex;
  border-radius: 16px;
  border: solid gray;
  height: 5px;
}
.counter div:first-child {
  background-color: greenyellow;
}
.skill-level {
  display: flex;
  justify-content: space-between;
}
.skill-level h4 {
  margin: 0%;
}
.counter-1 div:first-child {
  width: 70%;
}
.counter-2 div:first-child {
  width: 40%;
}
.counter-3 div:first-child {
  width: 0%;
}
.counter-4 div:first-child {
  width: 5%;
}
.counter-5 div:first-child {
  width: 40%;
}
.counter-6 div:first-child {
  width: 5%;
}
.counter-7 div:first-child {
  width: 1%;
}
.counter-8 div:first-child {
  width: 40%;
}
/*----------Fifth Section----------*/
.section-resume .container .paper .container-academy {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.academy {
  background-color: teal;
  border: solid;
  margin: 5px;
  padding: 10px;
  border-radius: 8px;
}
.academy h4, .academy p {
  margin: 0%;
}
/*----------Sixth Section----------*/
.container-cards {
  display: flex;
  width: 100%;
}
.card {
  background-color: rgb(23, 107, 107);
  padding: 15px;
  border: solid;
  border-radius: 8px;
  max-width: 250px;
  margin: auto;
  margin-top: 40px;
  box-sizing: border-box;
}
.card h4 {
  text-align: center;
}
/*----------Seventh Section----------*/
.recommend div {  
  border: solid;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(23, 134, 185);
}
.recommend div i {
  transform: scale(4);
}
/*----------Eighth Section----------*/
/*Same like my work section*/

/*----------Nineth Section----------*/
.message {
  width: 100%;
  height: 100px;
}
.contact {
  display: flex;
  margin-top: 30px;
}
.contact div:first-child {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact div:first-child i {
  transform: scale(1.5);
}
.contact div h4, .contact div p {
  margin: 0%;
}
/*--------------------Footer--------------------*/
footer div.footer {
  top: 900%;
}